<div class="class-logo">
  <div class="choose-class">
    <h2>
      Choose your class
    </h2>
  </div>
</div>

<div class="classes-container">
  <div class="classes-info">
    <img class="druid-info" src="../assets/bilder/druidicon.png" alt="" />
    <img class="hunter-info" src="../assets/bilder/huntericon.png" alt="" />
    <img class="priest-info" src="../assets/bilder/priesticon.png" alt="" />
    <img class="warrior-info" src="../assets/bilder/warrioricon.png" alt="" />
    <img class="warlock-info" src="../assets/bilder/warlockicon.png" alt="" />
    <img class="rogue-info" src="../assets/bilder/rogueicon.png" alt="" />
    <img class="mage-info" src="../assets/bilder/mageicon.png" alt="" />
    <img class="monk-info" src="../assets/bilder/monkicon.png" alt="" />
    <img class="paladin-info" src="../assets/bilder/paladinicon.png" alt="" />
    <img class="shaman-info" src="../assets/bilder/shamanicon.png" alt="" />
    <img
      class="deathknight-info"
      src="../assets/bilder/deathknight.png"
      alt=""
    />
  </div>
  
  <div class="spin-img">
    <img class="druid" src="../assets/bilder/druidicon.png" alt="" />
    <img class="hunter" src="../assets/bilder/huntericon.png" alt="" />
    <img class="priest" src="../assets/bilder/priesticon.png" alt="" />
    <img class="warrior" src="../assets/bilder/warrioricon.png" alt="" />
    <img class="warlock" src="../assets/bilder/warlockicon.png" alt="" />
    <img class="rogue" src="../assets/bilder/rogueicon.png" alt="" />
    <img class="mage" src="../assets/bilder/mageicon.png" alt="" />
    <img class="monk" src="../assets/bilder/monkicon.png" alt="" />
    <img class="paladin" src="../assets/bilder/paladinicon.png" alt="" />
    <img class="shaman" src="../assets/bilder/shamanicon.png" alt="" />
    <img class="deathknight" id="my-btn" src="../assets/bilder/deathknight.png" alt="" />
  </div>
  
  <div id="info-div">
    <button>Play this class Now</button>
    <p id="info-p"></p>
  </div>
</div>
