<div class="class-logo">
<div class="choose-class">
  <h2>
    Choose your class
  </h2>
</div>
</div>
<div class="classes-container">
    <img class="druid" src="../assets/bilder/druidicon.png" alt="">
    <img class="priest" src="../assets/bilder/priesticon.png" alt="">
    <img class="warrior" src="../assets/bilder/warrioricon.png" alt="">
    <img class="warlock" src="../assets/bilder/warlockicon.png" alt="">
    <img class="rogue" src="../assets/bilder/rogueicon.png" alt="">
    <img class="mage" src="../assets/bilder/mageicon.png" alt="">
    <img class="monk" src="../assets/bilder/monkicon.png" alt="">
    <img class="paladin" src="../assets/bilder/paladinicon.png" alt="">
    <img class="shaman" src="../assets/bilder/shamanicon.png" alt="">
    <img class="deathknight" src="../assets/bilder/deathknight.png" alt="">
</div>