<div class="filler"></div>
<nav class="wrapper">
  <a href="./index.html">
  <div class="column-4">
     <div class="menu-btn-home btn-style">
       <h2 class="firstpage-nav-btn">
         Home
        </h2>
      </div>
      <div class="border-style"></div>
    </div>
  </a>
  
  <a href="./shop.html">
  <div class="column-4">
    <div class="menu-btn-shop btn-style">
      <h2 class="firstpage-nav-btn">
        Shop
      </h2>
    </div>
    <div class=" border-style"></div>
  </div>
</a>
<a href="./characters">
  <div class="column-4">
    <div class="menu-btn-characters btn-style">
      <h2 class="firstpage-nav-btn">
        NPC
      </h2>
    </div>
    <div class="border-style"></div>
  </div>
</a>
</nav>
