<div class="filler"></div>
<nav class="wrapper">
  <div class="column-4">
    <div class="menu-btn-home btn-style">
      <h2 class="firstpage-nav-btn">
        Home
      </h2>
    </div>
    <div class="border-style"></div>
  </div>

  <div class="column-4">
    <div class="menu-btn-shop btn-style">
      <h2 class="firstpage-nav-btn">
        Shop
      </h2>
    </div>
    <div class=" border-style"></div>
  </div>
  <div class="column-4">
    <div class="menu-btn-characters btn-style">
      <h2 class="firstpage-nav-btn">
        NPC
      </h2>
    </div>
    <div class="border-style"></div>
  </div>
</nav>
