<div id="how">
  <h2>
    <span>H</span>ow to pick<br />
    the right <span>W</span>orld <span>o</span>f <span>W</span>arcraft main for
    you
  </h2>
  <!-- <img id="types" src="../assets/images/types.jpg" alt=""> -->
</div>

<ul id="ul-how">
  <li class="li-how">
    <img class="img-invisible" src="../assets/images/1.jpg" alt="" />
  </li>
  <li class="li-how">
    <img class="img-left" src="../assets/images/1.jpg" alt="" />
  </li>
  <li class="li-how"><img src="../assets/images/2.jpg" alt="" /></li>
  <li class="li-how"><img src="../assets/images/3.jpg" alt="" /></li>
  <li class="li-how"><img src="../assets/images/4.jpg" alt="" /></li>
  <li class="li-how"><img src="../assets/images/5.jpg" alt="" /></li>
  <li class="li-how"><img src="../assets/images/6.jpg" alt="" /></li>
  <li class="li-how"><img src="../assets/images/7.jpg" alt="" /></li>
  <li class="li-how">
    <img class="img-invisible" src="../assets/images/7.jpg" alt="" />
  </li>
</ul>

<div id="how-div">
  <p>
    At the start of every World of Warcraft expansion, current, new and
    returning players all start anew on similar footing. But before each
    expansion, those same players need to answer the most crucial question in
    World of Warcraft: Which class do I play? It’s a decision that can define
    the entire two-year expansion cycle. It can be the difference between
    enjoying your time with World of Warcraft and letting your subscription
    crumble after only a few months. Discovering the class for you isn’t easy,
    even for veteran players. But for new and returning players, it’s easy to
    get lost in all 36 specializations. To help you out before you dive into
    Battle for Azeroth, we’re going to go over what the classes are, how to pick
    one and why decision is so important.
  </p>
</div>
