<shop-main>
      
  <h2>Figurines</h2>
<div id="figurines">
 
  <div>
    <span>Black Knight</span>
    <a href="/images/Black_Knight_new.png" target="_blank"><img src="/images/Black_Knight_new.png" alt=""></a>  
  </div>
  <div>
    <span>Sylvanas Windrunner</span>
    <a href="/images/sylvanas_new_original.png" target="_blank"><img src="/images/sylvanas_new_original.png" alt=""></a>
  </div>
    <div>
    <span>Skeeve Sorrowblade</span>
    <a href="/images/skeeve_new.png" target="_blank"><img src="/images/skeeve_new.png" alt=""></a>
    </div>
    <div>
      <span>Grom Hellscream</span>
      <a href="/images/grom_new.png" target="_blank"><img src="/images/grom_new.png" alt=""></a>
    </div>
    <div>
      <span>Jaina Proudmoore</span>
      <a href="/images/jaina.png" target="_blank"><img src="/images/jaina.png" alt=""></a>
    </div>
    <div>
      <span>Illidan</span>
      <a href="/images/statue_illidan_new.png" target="_blank"><img src="/images/statue_illidan_new.png" alt=""></a>
    </div>

</div>

<h2>T-shirts</h2>
<div id="shirts">
  <div>
    <span>Azhara</span>
    <a href="/images/shirt_azhara.png" target="_blank"><img src="/images/shirt_azhara.png" alt=""></a>
  </div>
  <div>
    <span>Alliance Gold</span>
    <a href="/images/shirt_gold_new.png" target="_blank"><img src="/images/shirt_gold_new.png" alt=""></a>
  </div>
  <div>
    <span>Mounts</span>
    <a href="/images/shirt_mounts_new.png" target="_blank"><img src="/images/shirt_mounts_new.png" alt=""></a>
    </div>
    <div>
    <span>Mists of Pandaria</span>
    <a href="/images/shirt_panda_newest.png" target="_blank"><img src="/images/shirt_panda_newest.png" alt=""></a>
  </div>
</div>

<h2>Towels</h2>
<div id="towels">
  <div>
    <span>Alliance Black</span>
    <a href="/images/towel_alliance.png" target="_blank"><img src="/images/towel_alliance.png" alt=""></a>
  </div>
  <div>
    <span>For the Horde</span>
    <a href="/images/towel_horde.png" target="_blank"><img src="/images/towel_horde.png" alt=""></a>
  </div>
  <div>
    <span>Alliance Blue</span>
    <a href="/images/towel_blue_new.png" target="_blank"><img src="/images/towel_blue_new.png" alt=""></a>
  </div>
</div>

<h2>Books</h2>
<div id="books">
  <div>
      <span>World of Warcraft - Book One</span>
    <a href="/images/book_one.jpg" target="_blank"><img src="/images/book_one.jpg" alt=""></a>
  </div>
  <div>
      <span>Thrall - Twilight of the Aspects</span>
    <a href="/images/book_thrall.jpg" target="_blank"><img src="/images/book_thrall.jpg" alt=""></a>
  </div>
  <div>
      <span>The Shattering</span>
    <a href="/images/book_shattering.jpg" target="_blank"><img src="/images/book_shattering.jpg" alt=""></a>
  </div>
  <div>
      <span>Rise of the Horde</span>
    <a href="/images/book_horde.jpg" target="_blank"><img src="/images/book_horde.jpg" alt=""></a>
  </div>
  <div>
      <span>Arthas</span>
    <a href="/images/book_arthas.jpg" target="_blank"><img src="/images/book_arthas.jpg" alt=""></a>
  </div>
</div>

<h2>Mugs</h2>
<div id="mugs">
  <div>
    <span>Horde Edition</span>
    <a href="/images/mug_horde_new.png" target="_blank"><img src="/images/mug_horde_new.png" alt=""></a>
  </div>
  <div>
    <span>Alliance Edition</span>
    <a href="/images/mug_alliance_new.png" target="_blank"><img src="/images/mug_alliance_new.png" alt=""></a>
  </div>
</div>

        </shop-main>
        