
@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC&display=swap');

$border-radius-size: 14px;
$cardColor: rgba(255, 5, 5, 0.329);
$cardVisible: rgba(255, 5, 5, 0.438);
$gold: rgb(235, 192, 53);
$fontFamily: 'Playfair Display SC', serif;



/* victor style */

$backgroundColor: white;
$bodyColor: rgb(235, 192, 53);
$headerBGcolor: rgba(150, 0, 0, 0.329);



*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



.page-container{
  position: relative;
  top: 5rem;
  font: 14px/20px 'Playfair Display SC', serif;
}

.card-container {
  margin: auto;
  text-align: center;
}

.wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
  
  &:focus {
    outline: 0;
  }
}



.card {
  background: $cardColor;
  width: 300px;
  display: inline-block;
  margin: auto;
  border-radius: $border-radius-size + 5;
  position: relative;
  text-align: center;
  box-shadow: -1px 15px 30px -12px $gold;
  z-index: 9999;
}

.card-visible{
  // background: $cardVisible;
  border: 0.5px solid $gold;
}




.card__image {
  position: relative;
  height: 230px;
  margin-bottom: 35px;
  border-top-left-radius: $border-radius-size;
  border-top-right-radius: $border-radius-size;
  cursor: pointer;

  img {
    height:  250px;
    position: absolute;    
    top: 0px;
    left: 50px;
  }
}


.card__level {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 3px;
}

.card__level {
    color: $gold;
}



.card-title {
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 5px;
  color: $gold;
  
}

.card-description {
  padding: 20px;
  margin-bottom: 10px;
  color: $gold;  
}



.card__unit-stats {
  background: $cardColor;
  color: $gold;
  font-weight: 700;
  border-bottom-left-radius: $border-radius-size;
  border-bottom-right-radius: $border-radius-size;
  
  .one-third {
    width: 33%;
    float: left;
    padding: 20px 15px;
    border-right: 1px solid rgba(235, 193, 53, 0.397);
  }
  
  
  .stat {
    position: relative;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .stat-value {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
  }

  .no-border {
    border-right: none;
  }
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

// END OF CARD STYLE


.page-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px , 1fr));
  grid-gap: 30px;
  justify-content: center;

}


#characters{
  // position: absolute;
  // top: 40rem;
  
  background-color: $cardColor;
  width: 100%;
  height: 200px;
  color: $bodyColor;
  align-content: center center;
  border-bottom: 6px solid $gold;
  border-top: 6px solid $gold;
  font: 14px/20px 'Playfair Display SC', serif;

  h2{
    font-size: 5rem;
    text-align: center;
    padding-top: 70px;
    span{
      font-size: 8rem;
    }
  }
}


#how{
  margin-top: 100px;
  background-color: $cardColor;
  width: 100%;
  height: 30vh;
  color: $bodyColor;
  align-content: center;
  border-bottom: 6px solid $gold;
  border-top: 6px solid $gold;
  line-height: 400%;
  


  h2{
    font-size: 2rem;
    text-align: center;
    padding-top: 5px;
    span{
      font-size: 4rem;
    }
  }
}

#types{
width: 100%;
height: 100vh;
position: relative;
top: 16px;
z-index: -22;

}

#ul-how{
  display: flex;

  li{
    list-style: none;
    &:hover{
      opacity: .5;
      
    }
    
  }

  .li-how img{

  width: 100%;
  height: 70vh;
  align-items: center;
  
  
  }
  li{
    border-left: 3px solid $gold;
    border-right: 3px solid $gold;
    
  }

  .img-invisible{
    opacity: 0;
    
  }

  
  
}


#how-div{
  background-color: $cardColor;
  width: 100%;
  height: 250px;
  color: $bodyColor;
  border: 6px solid $gold;
  font-size: 1.2em;
  p{
    width: 80%;
    text-align: center;
    margin: 0 auto;
    padding-top: 30px;
  }
}



@media screen and (min-width: 375px) {

  #characters{
    // position: absolute;
    // top: 40rem;
    
    background-color: $cardColor;
    width: 100%;
    height: 200px;
    color: $bodyColor;
    align-content: center center;
    border-bottom: 6px solid $gold;
    border-top: 6px solid $gold;
  
  
    h2{
      font-size: 2.5rem;
      text-align: center;
      padding-top: 70px;
      span{
        font-size: 4.5rem;
      }
    }
  }

  #how{
    margin-top: 100px;
    background-color: $cardColor;
    width: 100%;
    height: 40vh;
    color: $bodyColor;
    align-content: center;
    border-bottom: 2px solid $gold;
    border-top: 2px solid $gold;
    line-height: 400%;
    
  
  
    h2{
      font-size: 2rem;
      text-align: center;
      padding-top: 15px;
      span{
        font-size: 4rem;
      }
    }
  }

  #types{
    width: 100%;
    height: auto;
    position: relative;
    top: 16px;
    z-index: -22;
    
    }
    
    #ul-how{
      display: flex;
    
      li{
        list-style: none;
        &:hover{
          opacity: .8;
          
        }
        
      }
    
      .li-how img{
    
      width: 100%;
      height: 100%;
      align-items: center;
      
      
      }
      li{
        border-left: 1px solid $gold;
        border-right: 1px solid $gold;
        
      }
    
      .img-invisible{
        opacity: 0;
        
      }
    
      
      
    }
    

    #how-div{
      background-color: $cardColor;
      width: 100%;
      height: 600px;
      color: $bodyColor;
      border: 2px solid $gold;
      font-size: 1.2em;
      p{
        width: 80%;
        text-align: center;
        margin: 0 auto;
        padding-top: 30px;
      }
    }

    
}





@media screen and (min-width: 768px) {


  #characters{
    height: 150px;
    color: $bodyColor;
    align-content: center center;
    border: 2px solid $gold;
    h2{
      font-size: 3.5rem;
      text-align: center;
      padding-top: 45px;
      span{
        font-size: 5.5rem;
      }
    }
  }
  #how{
    margin-top: 100px;
    background-color: $cardColor;
    width: 100%;
    height: 20vh;
    color: $bodyColor;
    align-content: center;
    border-bottom: 2px solid $gold;
    border-top: 2px solid $gold;
    line-height: 400%;
    
  
  
    h2{
      font-size: 2rem;
      text-align: center;
      padding-top: 10px;
      span{
        font-size: 4rem;
      }
    }
  }



  #types{
    width: 100%;
    height: auto;
    position: relative;
    top: 16px;
    z-index: -22;
    
    }
    
    #ul-how{
      display: flex;
    
      li{
        list-style: none;
        &:hover{
          opacity: .8;
          
        }
        
      }
    
      .li-how img{
    
      width: 100%;
      height: 100%;
      align-items: center;
      
      
      }
      li{
        border-left: 1px solid $gold;
        border-right: 1px solid $gold;
        
      }
    
      .img-invisible{
        opacity: 0;
        
      }
    
      
      
    }
    
    #how-div{
      background-color: $cardColor;
      width: 100%;
      height: 300px;
      color: $bodyColor;
      border: 2px solid $gold;
      font-size: 1.2em;
      p{
        width: 80%;
        text-align: center;
        margin: 0 auto;
        padding-top: 30px;
      }
    }

}





@media screen and (min-width: 1024px) {


  #how{
    margin-top: 100px;
    background-color: $cardColor;
    width: 100%;
    height: 15vh;
    color: $bodyColor;
    align-content: center;
    border-bottom: 2px solid $gold;
    border-top: 2px solid $gold;
    line-height: 400%;
    
  
  
    h2{
      font-size: 2rem;
      text-align: center;
      padding-top: 15px;
      span{
        font-size: 4rem;
      }
    }
  } 
  #types{
    width: 100%;
    height: auto;
    position: relative;
    top: 16px;
    z-index: -22;
    
    }
    
    #ul-how{
      display: flex;
    
      li{
        list-style: none;
        &:hover{
          opacity: .8;
          
        }
        
      }
    
      .li-how img{
    
      width: 100%;
      height: auto;
      align-items: center;
      
      
      }
      li{
        border-left: 1px solid $gold;
        border-right: 1px solid $gold;
        
      }
    
      .img-invisible{
        opacity: 0;
        
      }
    
      
      
    }
    

    #how-div{
      background-color: $cardColor;
      width: 100%;
      height: 300px;
      color: $bodyColor;
      border: 2px solid $gold;
      font-size: 1.2em;
      p{
        width: 80%;
        text-align: center;
        margin: 0 auto;
        padding-top: 50px;
      }
    }



}















