$backgroundColor2: rgba(86, 73, 73, 0.530);
$bodyColor: rgb(235, 192, 53);
$headerBGcolor: rgba(150, 0, 0, 0.329);
$cardColor: rgba(255, 5, 5, 0.329);
$fontColor: yellow;
$fontFamily: 'Playfair Display SC', serif;


#header{
    background-image: url(/images/shop_header_new.jpg);
    background-position: top;
    position: relative;
    width: 100vw;
    height: 95vh;
    margin: 0;
    top: -35px;
    left: -8px;
    
    
  
      span{
        // background-color: $headerBGcolor;
        position: absolute;
        top: 50%;
        width: 100%;
        border-radius: 0%;
        text-align: center;
        font-size: 3em;
        color: $bodyColor;
    }
  }