.shop-nav-container{
    position: relative;
    height: 10vh;
    top: -35px;
    display: flex;
    justify-content: space-evenly;
    background-color: $headerBGcolor;
    word-spacing: 75px;
    color: $bodyColor;
    font-family: $fontFamily;

    ul{
      word-spacing: 50px;
      li{
        font-weight: bolder;
        display: inline-block;
        font-size: 2.5em;
        transition: .3s linear;
        letter-spacing: 5px;
        margin-top: 12px;
          &:hover{
            transform: scale(1.2);
  
        }
        a{
          color: $bodyColor;
          text-decoration: none;
          transition: all .3s ease-out;
          &:hover{
            color: white;
            border-bottom: 2px solid $bodyColor;
  
          }
        }
      }
    }
  }
@media screen and (min-width: 375px) {
  .shop-nav-container{
    display: block;
    height: auto;
    font-size: .5em;
    word-spacing: 8px;
    text-align:center;
  }
}

@media screen and (max-width: 768px) {
  .shop-nav-container{
    display: block;
    height: auto;
    font-size: .5em;
    word-spacing: 8px;
    text-align:center;
  }
}