---
---

@import "main";

@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC&display=swap');

$border-radius-size: 14px;
$cardColor: rgba(255, 5, 5, 0.192);
$fontFamily: 'Playfair Display SC', serif;


*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background: url('https://bnetcmsus-a.akamaihd.net/cms/template_resource/c5/C5WUOB9AEO1U1512085662323.jpg') no-repeat center center fixed;
  background-size: cover;
  font: 14px/20px 'Playfair Display SC', serif;
}

.card-container {
  margin: auto;
  width: 600px;
  text-align: center;
}

.wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
  
  &:focus {
    outline: 0;
  }
}



.card {
  background: rgba(255, 5, 5, 0.192);
  width: 300px;
  display: inline-block;
  margin: auto;
  border-radius: $border-radius-size + 5;
  position: relative;
  text-align: center;
  box-shadow: -1px 15px 30px -12px black;
  z-index: 9999;
}



.card__image {
    position: relative;
  height: 230px;
  margin-bottom: 35px;
  border-top-left-radius: $border-radius-size;
  border-top-right-radius: $border-radius-size;

  img {
    width: 200px;
    position: absolute;    
    top: 0px;
    left: 50px;
  }
}


.card__level {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 3px;
}

.card__level {
    color: yellow;
}



.card-title {
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 5px;
  color: yellow;
  
}

.card-description {
  padding: 20px;
  margin-bottom: 10px;
  color: yellow;  
}



.card__unit-stats {
  background: $cardColor;
  color: yellow;
  font-weight: 700;
  border-bottom-left-radius: $border-radius-size;
  border-bottom-right-radius: $border-radius-size;
  
  .one-third {
    width: 33%;
    float: left;
    padding: 20px 15px;
    border-right: 1px solid rgba(108, 106, 247, 0.322);
  }
  
  
  .stat {
    position: relative;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .stat-value {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
  }

  .no-border {
    border-right: none;
  }
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.swiper-container {
    width: 600px;
    height: 300px;
}




