---
---

$backgroundColor: white;
$bodyColor: rgb(235, 192, 53);
$headerBGcolor: rgba(150, 0, 0, 0.329);
@import url("https://fonts.googleapis.com/css?family=Playfair+Display+SC&display=swap");

html{
  scroll-behavior: smooth;
  background: url('https://bnetcmsus-a.akamaihd.net/cms/template_resource/c5/C5WUOB9AEO1U1512085662323.jpg') no-repeat center center fixed ;
  background-size: cover;
}
body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: 'Playfair Display SC', serif;
    color: $bodyColor;
    max-width: 2000px;
    overflow-x: hidden;

}
#header{
  background-image: url(/images/shop_header_new.jpg);
  background-position: top;
  position: relative;
  width: 100vw;
  height: 80vh;
  margin: 0;
  top: -35px;
  left: -8px;
  background-size: cover;

    span{
      background-color: $headerBGcolor;
      position: absolute;
      top: 50%;
      width: 100%;
      border-radius: 0%;
      text-align: center;
      font-size: 3em;
      color: $bodyColor;
  }
}
nav{
  position: relative;
  margin-top: -37px;
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(150, 0, 0, 0.329);
  word-spacing: 75px;

  ul{
    li{
      font-weight: bolder;
      display: inline-block;
      font-size: 1em;
      transition: .3s linear;
      letter-spacing: 5px;
      &:hover{
        transform: scale(1.2);

      }
      a{
        color: $bodyColor;
        text-decoration: none;
        transition: all .3s ease-out;
        &:hover{
          color: white;
          border-bottom: 2px solid $bodyColor;

        }
      }
    }
  }
}
main{
  width: 100%;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  h2{
    background-color: rgba(86, 73, 73, 0.530);
    color: $bodyColor;
    text-align: center;
  }

  #figurines, #shirts, #towels, #books, #mugs{
    display: flex;
    align-items: end;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid $headerBGcolor;
    position: relative;
  }

      span{
        background-color: black;
        position: absolute;
        font-size: .7em;
        margin: 2px;
      }

        img{
          margin: 5px;
          width: 80%;
          background-color: rgba(86, 73, 73, 0.329);
          border-top: 4px solid $headerBGcolor;
          border-bottom: 4px solid $headerBGcolor;
          transition: transform .5s ease;
          &:hover{
            background-color: rgba(228, 213, 213, 0.466);
            transform: scale(1.2);
          }
        }
      }
