<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <body>
      {% include shop-header.html %}
      {% include shop-nav.html %}
    {{ content}}
    <main>
      
<div id="figurines">
  <h3>Figurines</h3>
  <img src="/images/Black_Knight.jpg" alt="">
  <img src="/images/wow-sylvanas-gold-360-large-01.png" alt="">
  <img src="/images/skeeve-sadfoiuy4r35.jpg" alt="">
  <img src="/images/18-wow-legends-greymane-gold-pdp-360-001.png" alt="">
</div>
<div id="shirts">
  <h3>Shirts</h3>

</div>
<div id="towels">
  <h3>Towels</h3>

</div>
<div id="books">
  <h3>Books</h3>

</div>
    </main>
  </body>
</html>
